.group {
  margin-bottom: var(--space-x4);
}

.group--title {
  margin: var(--space-x2) 0;
  min-height: 25px;
}

.group--title-input {
  font-size: var(--text-lg);
  font-weight: bold;
}

.group--category-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--space-x3);
}

@media (min-width: 668px) {
  .group--category-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.group--category-cards .card--btn:focus {
  text-decoration: none;
}

.group--category-cards .card--btn:focus .category-card--title {
  text-decoration: underline;
}

.group--add-category-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
