.category-card--heading {
  display: flex;
  margin-bottom: var(--space-x2);
  font-weight: bold;
  min-height: 21px;
}

.category-card--title {
  flex-grow: 1;
  margin-right: var(--space-x4);
}

.category-card--title--input {
  width: 100%;
}

.category-card--amount--input {
  max-width: 100px;
}

.category-card--balance {
  display: flex;
  font-size: var(--text-sm);
  align-items: center;
}

.category-card--balance--message {
  margin-right: var(--space-x3);
}

.category-card--notes {
  margin-top: var(--space-x2);
  font-size: var(--text-sm);
  min-height: 20px;
}

.category-card--notes--input {
  width: 100%;
}

.category-card--notes--input input {
  font-size: var(--text-sm);
}
