.category-card--heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-x2);
  font-weight: bold;
}

.category-card--title {
  margin-right: var(--space-x3);
}

.category-card--balance {
  display: flex;
  font-size: var(--text-sm);
  align-items: center;
}

.category-card--balance--message {
  margin-right: var(--space-x3);
}

.category-card--notes {
  margin-top: var(--space-x2);
  font-size: var(--text-sm);
}
