.transaction {
  margin: var(--space-x3) 0;
}

.transaction--details {
  display: flex;
  justify-content: space-between;
}

.transaction--date {
  margin-bottom: var(--space-x2);
  font-size: var(--text-sm);
  color: var(--color-primary-lighter);
}
