.layout--grid {
  display: grid;
  grid-template-rows: auto 1fr;

  grid-template-areas:
    "header"
    "content";

  max-height: 100vh;
}

.layout--header {
  grid-area: header;
}

.layout--content {
  grid-area: content;
  overflow-y: auto;
}
