.drawer--background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.drawer--background--open {
  background: rgba(0, 0, 0, 0.7);
  visibility: visible;
  z-index: 10000;
}

.drawer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-primary-dark);
  width: 100vw;
  transform: translateX(350px);
  transition: transform var(--anim-duration-default);
}

@media (min-width: 475px) {
  .drawer {
    width: 400px;
  }
}

.drawer--left {
  left: 0;
  right: auto;
  transform: translateX(-350px);
}

.drawer--open {
  transform: translateX(0);
}

.drawer--header {
  padding: var(--space-x3);
}

.drawer--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-primary-light);
}

.drawer--header h2 {
  margin: 0;
}
