html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--color-primary-text);
  background: var(--color-primary);
  font-family: Arial;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h2 {
  margin-bottom: var(--space-x1);
  display: inline-block;
}

section {
  margin-top: var(--space-x4);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
