.header {
  background: var(--color-primary-dark);
  color: var(--color-primary-dark-text);
  display: flex;
  padding: var(--space-x3);
  min-height: 56px;
  align-items: flex-end;
}

.header--left-btn {
  margin-right: var(--space-x1);
}

.header--title {
  flex-grow: 1;
}

.header--subheader {
  padding: var(--space-x2) var(--space-x3);
  background: var(--color-primary-light);
  color: var(--color-primary-light-text);
  display: flex;
  justify-content: space-between;
  min-height: 35px;
}

.header--subheader--unbalanced {
  background: var(--color-danger-light);
  color: var(--color-danger-light-text);
}
